<!-- lekarz_rejestracja.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja Lekarza</title>
</head>
<body>
    <h1>Rejestracja Inżyniera</h1>
    <!-- Formularz rejestracji lekarza -->
    <form method="post" action="{% url 'inzynier_rejestracja' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zarejestruj</button>
    </form>
</body>
</html>