{% load static %}

<!-- lekarz_rejestracja.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja Lekarza</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Rejestracja Lekarza/Klienta</h1>
    <!-- Formularz rejestracji lekarza -->
    <form method="post" action="{% url 'lekarz_rejestracja' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zarejestruj</button>
    </form>
</body>
</html>
