{% load static %}

<!-- zbierz_opinie.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zbierz Opinie</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
</head>
<body>
    <h1>Zbierz Opinie</h1>
    <!-- Formularz zbierania opinii -->
    <form method="post" action="{% url 'zbierz_opinie' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Zbierz Opinie</button>
    </form>
</body>
</html>
